{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- ======= Header ======= -->
    <header id="header" >
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="/home">Rabbit Image</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/home">Home</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header>
    <h1  style="color:black; margin-top: 200px; margin-left: 700px">ERROR</h1>
{% endblock %}